<!-- header -->
<header>
    {header}
</header> <!-- /header -->

<!-- navigation -->
<nav>
    <div id="mainMenu">
        <f:cObject typoscriptObjectPath="lib.main-menu" />
    </div>
    <div id="subMenu">
        <f:cObject typoscriptObjectPath="lib.sub-menu" />
    </div>
</nav> <!-- /navigation -->

<!-- content -->
<article>
    <f:format.raw>
        {content}
    </f:format.raw>
</article> <!-- /content -->

<!-- footer -->
<footer>
    {footer}
</footer> <!-- /footer -->